<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>系统主页V1.0</h1>
<ul>
    <!--获取身份信息-->
    <span shiro:principal=""></span><br>

    <!--认证处理-->
    <span shiro:authenticated="">
        认证通过展示的内容<br>
    </span>
    <span shiro:notAuthenticated="">
        没有认证展示的内容<br>
    </span>

    <!--授权角色-->
    <span shiro:hasRole="admin">
        this is admin<br>
    </span>

    <!--基于资源的授权-->
    <span shiro:hasPermission="'user:*:01'">
        具有用户模块的权限<br>
    </span>

    <a th:href="@{/user/logout}">退出用户</a>
</ul>
</body>
</html>

